.Text-over {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical !important;
}
.Motaphim{
     text-overflow:ellipsis !important

}
#ListMovieByCategory, #ListMovieByName{
    display: flex;
    flex-wrap: wrap;
    align-items: center
}
.item{
    width:25%;
    padding:10px
}
.Btn {
    background: var(--primary-color);
    display:inline-block;
    padding:10px 20px;
    color:#fff;
    margin:0 auto;
    margin-left:10px;
    cursor:pointer;
    border:none;
    outline:none
}