@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- owl-carousel Banner Start -->
<section class="pt-0 pb-0">
    <div class="container-fluid px-0">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="gen-banner-movies banner-style-2">
                    <div class="owl-carousel " id="ListMovieRate">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- owl-carousel Banner End -->
<!-- owl-carousel Videos Section-1 Start -->
<section class="gen-section-padding-2">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 col-lg-6 col-md-6">
                <h4 class="gen-heading-title" id="NameCategory">All Movies</h4>
            </div>
            <div class="col-xl-2 col-lg-6 col-md-6 d-none d-md-inline-block">
                <div class="gen-movie-action">
                    <div class="gen-btn-container text-right">
                        <select class="form-group" id="ListCategory" >
                            
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="gen-style-2">
                    <div id="ListMovieByCategory">


                    </div>
                    <div class="Btn" >
                        Load more
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>
<!-- owl-carousel Videos Section-1 End -->

@section scripts{
    <script>
        const url = "https://localhost:7053/api";
        let number = 4;
        let listMovieBycategory = [];
        const Header = {
            "Authorization": "Bearer " + localStorage.getItem("token"),
            "Content-Type": "application/json"
        }
        $.ajax({
            url: url + "/Movies/GetMovieByRate",
            headers: Header,
            method: "GET",
            success: function (data) {
                let result = "";
                data.forEach((item, index) => {
                    result += `<div class="item"
                             style="background: url(${item.anh}) ;padding-top:80px">
                            <div class="gen-movie-contain-style-2 h-100">
                                <div class="container h-100">
                                    <div class="row flex-row-reverse align-items-center h-100">
                                        <div class="col-xl-6">
                                            <div class="gen-front-image">
                                                <img src="${item.anh}"
                                                     alt="owl-carousel-banner-image" />
                                                <a href="${item.duongdan}"
                                                   class="playBut popup-youtube popup-vimeo popup-gmaps">
                                                    <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In  -->
                                                    <svg version="1.1"
                                                         xmlns="http://www.w3.org/2000/svg"
                                                         width="213.7px"
                                                         height="213.7px"
                                                         viewBox="0 0 213.7 213.7"
                                                         enable-background="new 0 0 213.7 213.7"
                                                         xml:space="preserve">
                                                    <polygon class="triangle"
                                                             id="XMLID_17_"
                                                             fill="none"
                                                             stroke-width="7"
                                                             stroke-linecap="round"
                                                             stroke-linejoin="round"
                                                             stroke-miterlimit="10"
                                                             points="
                                                            73.5,62.5 148.5,105.8 73.5,149.1 "></polygon>
                                                    <circle class="circle"
                                                            id="XMLID_18_"
                                                            fill="none"
                                                            stroke-width="7"
                                                            stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                            stroke-miterlimit="10"
                                                            cx="106.8"
                                                            cy="106.8"
                                                            r="103.3"></circle>
                              </svg>
                                                    <span>Watch Trailer</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="gen-tag-line">
                                                <span>Most Viewed</span>
                                            </div>
                                            <div class="gen-movie-info">
                                                <h3>${item.tenphim}</h3>
                                            </div>
                                            <div class="gen-movie-meta-holder">
                                                <ul class="gen-meta-after-title">
                                                    <li class="gen-sen-rating">
                                                        <span> 12A</span>
                                                    </li>
                                                    <li>
                                                        <img src="${item.anh}"
                                                             alt="rating-image" />
                                                        <span> ${item.danhgiaphim}/10 </span>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                </ul>
                                                <p class="Text-over">
                                                   ${item.motaphim}
                                                </p>
                                                
                                            </div>
                                            <div class="gen-movie-action">
                                                <div class="gen-btn-container">
                                                    <a href="/Home/Details/${item.maphim}"
                                                       class="gen-button .gen-button-dark">
                                                        <i class="fa fa-play" aria-hidden="true"></i>
                                                        <span class="text">Play Now</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> `;
                })
                $("#ListMovieRate").html(result);
                $('.owl-carousel').owlCarousel({
                    items: 1,
                    loop: true,
                    margin: 10,
                    autoplay: true,
                    autoplayTimeout: 5000,
                    autoplayHoverPause: false
                });
            },
            error: function (err) {
                console.log(err);
                if (err.status == 401) {
                    alert("Bạn cần đăng nhập lại");
                    window.location = "/Home/Login";
                }
            }
        })
        $.ajax({
            url: url + "/Category/All",
            headers: Header,
            method: "GET",
            success: function (data) {
                let result = "<option value='All Movie'>All Movie</option>";
                data.forEach((item, index) => {
                    result += `<option value=${item.tenloaiphim}>${item.tenloaiphim}</option>`
                })
                $("#ListCategory").html(result);
            },
            error: function (err) {
                console.log(err);
                if (err.status == 401) {
                    alert("Bạn cần đăng nhập lại");
                    window.location = "/Home/Login";
                }
            }
        })

        function GetDetails(id) {
            window.location = "/Home/Details/" + id;
        }
        function getMovie(id) {
            number = 4;
            let Url = url;
            Url += "/Movies/MoveByCategory/" + id;
            console.log(Url)
            $.ajax({
                url: Url,
                headers: Header,
                method: "GET",
                success: function (data) {
                    listMovieBycategory = [];
                    data.forEach((item, index) => {
                        listMovieBycategory.push(item);
                    })
                    renderMovie(); 
                },
                error: function (err) {
                    console.log(err);
                    if (err.status == 401) {
                        alert("Bạn cần đăng nhập lại");
                        window.location = "/Home/Login";
                    }
                }
            })
        }
        getMovie("All");
        function renderMovie() {
            let result = "";
            if (number > listMovieBycategory.length) {
                number = listMovieBycategory.length;
            }
            for (let i = 0; i < number; i++) {
                let item = listMovieBycategory[i];
                result += `<div class="item">
                            <div class="movie type-movie status-publish has-post-thumbnail hentry movie_genre-action movie_genre-adventure movie_genre-drama">
                                <div class="gen-carousel-movies-style-2 movie-grid style-2">
                                    <div class="gen-movie-contain">
                                        <div class="gen-movie-img" style="height:200px" >
                                            <img src="${item.anh}"
                                                 alt="owl-carousel-video-image" style="height:100%; object-fit:cover" />
                                           
                                            <div class="gen-movie-action">
                                                <span class="gen-button" onclick="GetDetails('${item.maphim}')">
                                                    <i class="fa fa-play"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="gen-info-contain">
                                            <div class="gen-movie-info" style="cursor:pointer">
                                                <h3>
                                                    <span onclick="GetDetails('${item.maphim}')">${item.tenphim}</span>
                                                </h3>
                                            </div>
                                            <div class="gen-movie-meta-holder">
                                                <ul>
                                                    <li>${item.thoiluong} min </li>
                                                    <li>
                                                        ${item.danhgiaphim}/10 
                                                    </li>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                </ul>
                                               
                                            </div>
                                           
                                        </div>
                                                
                                    </div>
                                </div>
                            </div>
                                <div class="Text-over" >
                                    ${item.motaphim}
                                </div>
                        </div>`
            }
            $("#ListMovieByCategory").html(result);

        }
        $("#ListCategory").change(function () {
            getMovie($(this).val());
            if ($(this).val() !== "") {
                $('#NameCategory').html($(this).val())
            } else {
                $('#NameCategory').html("All Movie");
            }
        });

        $(".Btn").click(function () {
            number += 4;
            renderMovie();
        })
        $(document).ready(function ($) {
            $.ajaxSetup({ cache: false });
        });
    </script>
    }