
@{
    ViewBag.Title = "CreateMovie";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <!-- main title -->
        <div class="col-12">
            <div class="main__title">
                <h2>Thêm Phim Mới</h2>
            </div>
        </div>
        <!-- end main title -->
        <!-- form -->
        <div class="col-12">
            <form id="CreateMovies" action="#" class="form">
                <div class="row">
                    <div class="col-12 col-md-12 form__cover">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12">
                                <div class="form__img">
                                    <label for="form__img-upload">Ảnh</label>
                                    <input id="form__img-upload" name="files" type="file" accept=".png, .jpg, .jpeg">
                                    <img id="form__img" src="#" alt=" ">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-7 form__content">
                        <div class="row">
                            <div class="col-12">
                                <div class="form__group">
                                    <input type="text" class="form__input" name="Tenphim" placeholder="Tên phim">
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form__group">
                                    <textarea id="text" name="Motaphim" class="form__textarea" placeholder="Mô tả phim"></textarea>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-lg-3">
                                <div class="form__group">
                                    <input type="text" name="Nam" class="form__input" placeholder="Năm">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3">
                                <div class="form__group">
                                    <input name="Ngonngu" id="NgonNgu" type="text" class="form__input" placeholder="Ngôn ngữ">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3">
                                <div class="form__group">
                                    <input name="Danhgiaphim"  type="text" class="form__input" placeholder="Đánh giá phim">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3">
                                <div class="form__group">
                                    <input type="text" name="Thoiluong" class="form__input" placeholder="Thời lượng">
                                </div>
                            </div>



                            <div class="col-12 col-lg-6">
                                <div class="form__group">
                                    <select class="js-example-basic-multiple" id="country" multiple="multiple">
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-lg-6">
                                <div class="form__group">
                                    <select class="js-example-basic-multiple" id="genre" multiple="multiple">
                                    </select>
                                </div>
                            </div>


                        </div>
                    </div>

                  

                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-lg-12">
                                <div class="form__group form__group--link">
                                    <input type="text" class="form__input" name="Duongdan" placeholder="Đường dẫn phim">
                                </div>
                            </div>

                            <div class="col-12">
                                <button type="submit" class="form__btn">Thêm phim</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- end form -->
    </div>
</div>
@section scripts{
    <script>
        
        var strCategory = "";
        var strCountry = "";
        const Header = {
            "Authorization": "Bearer " + localStorage.getItem("tokenAdmin"),
            "Content-Type": "application/json"
        }
        $.ajax({
            url: 'https://localhost:7053/api/Category/All',
            method: "GET",
            headers: Header,
            contentType: "json",
            dataType: "json",
            success: function (data) {
                console.log("Success");

                $.each(data, function (key, value) {
                    strCategory += `<option value="${value.tenloaiphim}">${value.tenloaiphim}</option>`;
                })
               
                $("#genre").html(strCategory);


            },
            error: function (err) {
                console.log(err);
            }
        })
        $.ajax({
            url: 'https://localhost:7053/api/Countrys/All',
            method: "GET",
            contentType: "json",
            headers: Header,
            dataType: "json",
            success: function (data) {
                console.log("Success");

                $.each(data, function (key, value) {
                    strCountry += `<option value="${value.tenquocgia}">${value.tenquocgia}</option>`;
                })
              
                $("#country").html(strCountry);


            },
            error: function (err) {
                console.log(err);
            }
        })

        $("#CreateMovies").submit(function (e) {
            e.preventDefault();
            var input = new FormData(e.target);
            console.log(input);
            $.ajax({
                url: "https://localhost:7053/api/Movies",
                headers: {
                    "Authorization": "Bearer " + localStorage.getItem("tokenAdmin")
                },
                data: input,
                contentType: false,
                processData: false,
                method: "POST",
                success: function (data) {
                    alert("Thành công")
                    e.target.reset();
                },
                error: function (err) {
                    alert("Thất bại");
                    console.log(err);
                    if (err.status == 401) {
                        window.location = "/Admin/Home/Login";
                    }
                }
            })
        })
          
    </script>


}