
@{
    ViewBag.Title = "CreateCountry";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <!-- main title -->
    <div class="col-12">
        <div class="main__title">
            <h2>Thêm mới 1 Quốc Gia</h2>
        </div>
    </div>
    <!-- end main title -->
    <!-- form -->
    <div class="col-12">
        <form class="form" id="FormCreate">
            <div class="row">
                <div class="col-12 col-md-7 form__content">
                    <div class="row">
                        <div class="col-12">
                            <div class="form__group">
                                <label class="Label text-white">Mã Quốc Gia:</label>

                                <input id="txtMQG" type="text" class="form__input" name="MaQG" placeholder="Mã Quốc Gia">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form__group">
                                <label class="Label text-white">Tên Quốc Gia:</label>
                                <input id="txtTQG" type="text" class="form__input" name="TenQG" placeholder="Tên Quốc Gia">
                            </div>
                        </div>

                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <input type="submit" value="Create" onclick="insertCountry()" class="form__btn" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end form -->
        </form>
    </div>
</div>
@section scripts{
<script>
    const Header = {
        "Authorization": "Bearer " + localStorage.getItem("tokenAdmin"),
        "Content-Type": "application/json"
    }
        function insertCountry() {
            var formdata = {
                "maquocgia": 0,
                "tenquocgia": $("#txtTQG").val(),
                "tbPhimQuocgia": []
            };
            
            $.ajax({
                url: 'https://localhost:7053/api/Countrys',
                method: 'POST',
                Header: Header,
                contentType: 'application/json',
                data: JSON.stringify(formdata),
                dataType: 'json',
                error: function (response) {
                    alert("Thêm mới không thành công");
                },
                success: function (reponse) {
                    alert("Thêm mới thành công");
                    loaddata(); //Gọi đến hàm lấy dữ liệu lên bảng
                }
            });
        }
</script>
}

