
@{
    ViewBag.Title = "DetailMovie";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <!-- main title -->
        <div class="col-12">
            <div class="main__title">
                <h2>Thông Tin Phim</h2>
            </div>
        </div>
        <!-- end main title -->
        <!-- form -->
        <div class="col-12">
            <form id="UpdateMovies" class="form">
                <div class="row">
                    <div class="col-12 col-md-5 form__cover">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-12">
                                <div class="form__img" >
                                    <label for="form__img-upload">Ảnh</label>
                                    <input id="form__img-upload" name="files" type="file" accept=".png, .jpg, .jpeg">
                                    <img id="form__img" src="#" alt=" ">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-7 form__content">
                        <div class="row">
                            <div class="col-12">
                                <div class="form__group">
                                    <input id="NameMovie" type="text" class="form__input" name="Tenphim" placeholder="Tên phim">
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form__group">
                                    <textarea id="Mota" name="Motaphim" class="form__textarea" placeholder="Mô tả phim"></textarea>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-lg-3">
                                <div class="form__group">
                                    <input id="Nam" type="text" name="Nam" class="form__input" placeholder="Năm">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3">
                                <div class="form__group">
                                    <input id="NgonNgu" name="Ngonngu" type="text" class="form__input" placeholder="Ngôn Ngữ">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3">
                                <div class="form__group">
                                    <input name="Danhgiaphim" id="danhgia" type="text" class="form__input" placeholder="Đánh giá phim">
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-lg-3">
                                <div class="form__group">
                                    <input id="Time" type="text" name="Thoiluong" class="form__input" placeholder="Thời Lượng">
                                </div>
                            </div>



                            <div class="col-12 col-lg-6">
                                <div class="form__group">
                                    <select class="js-example-basic-multiple" id="country" multiple="multiple">
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-lg-6">
                                <div class="form__group">
                                    <select class="js-example-basic-multiple" id="genre" multiple="multiple">
                                    </select>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            

                            <div class="col-12 col-lg-12">
                                <div class="form__group form__group--link">
                                    <input id="Link" type="text" class="form__input" name="Duongdan" placeholder="Đường dẫn phim">
                                </div>
                            </div>

                            <div class="col-12">
                                <button type="submit" class="form__btn">Lưu Thay đổi</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- end form -->
    </div>
</div>
@section scripts{
    <script>
        const url = "https://localhost:7053/api";
        let id = location.href.split("/");
        id = id[id.length - 1];
        var strCategory = "";
        var strCountry = "";
        var quocgia = [];
        var theloai = [];
        var idquocgia = [];
        var idtheloai = [];
        const Header = {
            "Authorization": "Bearer " + localStorage.getItem("tokenAdmin"),
            "Content-Type": "application/json"
        }
        
        //$.ajax({
        //    url: 'https://localhost:7053/api/Category/GetTbLoaiphimByMovie/'+id,
        //    method: "GET",
        //    headers: Header,
        //    contentType: "json",
        //    dataType: "json",
        //    success: function (data) {
        //        console.log(data);
        //        $.each(data, function (key, value) {
        //            theloai.push(value.tenloaiphim);
        //            idtheloai.push(value.maloaiphim);
        //        })  
        //    },
        //    error: function (err) {
        //        console.log(err);
        //    }
        //})
        //$.ajax({
        //    url: 'https://localhost:7053/api/Countrys/GetTbquocgiaByMovie/' + id,
        //    method: "GET",
        //    headers: Header,
        //    contentType: "json",
        //    dataType: "json",
        //    success: function (data) {
        //        console.log("Success");

        //        $.each(data, function (key, value) {
        //            quocgia.push(value.tenquocgia);
        //            idquocgia.push(value.maquocgia);
        //        })
        //    },
        //    error: function (err) {
        //        console.log(err);
        //    }
        //})
        
        //$.ajax({
        //    url: 'https://localhost:7053/api/Category/All',
        //    method: "GET",
        //    headers: Header,
        //    contentType: "json",
        //    dataType: "json",
        //    success: function (data) {
        //        console.log("Success");

        //        $.each(data, function (key, value) {
        //            var d = 0;
        //            for (var i = 0; i < theloai.length; i++){
        //            if (theloai[i] == value.tenloaiphim) {
        //                strCategory += `<option value="${value.maloaiphim}" selected>${value.tenloaiphim}</option>`;
        //                d = 1;
        //            }
                    
        //            }
        //            if (d == 0) {
        //                strCategory += `<option value="${value.maloaiphim}">${value.tenloaiphim}</option>`;
        //            }
                   
        //        })

        //        $("#genre").html(strCategory);


        //    },
        //    error: function (err) {
        //        console.log(err);
        //    }
        //})
        //$.ajax({
        //    url: 'https://localhost:7053/api/Countrys/All',
        //    method: "GET",
        //    headers: Header,
        //    contentType: "json",
        //    dataType: "json",
        //    success: function (data) {
        //        console.log("Success");

        //        $.each(data, function (key, value) {
        //            var d = 0;
        //            for (var i = 0; i < quocgia.length; i++) {
        //                if (quocgia[i] == value.tenquocgia) {
        //                    strCountry += `<option value="${value.maquocgia}" selected>${value.tenquocgia}</option>`;
        //                    d = 1;
        //                }

        //            }
        //            if (d == 0) {
        //                strCountry += `<option value="${value.maquocgia}" >${value.tenquocgia}</option>`;
        //            }
                    
        //        })

        //        $("#country").html(strCountry);


        //    },
        //    error: function (err) {
        //        console.log(err);
        //    }
        //})
        if (/\d/.test(id)) {
            $.ajax({
                url: 'https://localhost:7053/api/Movies/' + id,
                method: "GET",
                headers: Header,
                contentType: "json",
                dataType: "json",
                success: function (data) {
                    console.log("Success");
                    $("#NameMovie").val(data.tenphim);
                    $("#Mota").val(data.motaphim);
                    $("#Nam").val(data.nam);
                    $("#Time").val(data.thoiluong);
                    $("#NgonNgu").val(data.ngonngu);
                    $("#Link").val(data.duongdan);
                    $("#danhgia").val(data.danhgiaphim);
                    $("#form__img").attr('src', data.anh);   
                },
                error: function (err) {
                    console.log(err);
                }
            })
        }
        $("#UpdateMovies").submit(function (e) { 
            e.preventDefault();
            var input = new FormData(e.target);
            input.append("Maphim", id);
            input.append("Anh", "");

            $.ajax({
                url: "https://localhost:7053/api/Movies/"+id,
                headers: {
                    "Authorization": "Bearer " + localStorage.getItem("tokenAdmin")
                },
                data: input,
                contentType: false,
                processData: false,
                method: "PUT",
                success: function (data) {
                    alert("Thành công");
                    //Update_category_country();
                    e.target.reset();
                },
                error: function (err) {
                    alert("Thất bại");
                    console.log(err);
                    console.log(err);
                    if (err.status == 401) {
                        window.location = "/Admin/Home/Login";
                    }
                }
            })


        })
        function Update_category_country() {
            var n = $("#genre").children("option").length;

            for (var i = 0; i < n; i++) {
                if ($("#genre").children("option")[i].selected) {
                    var ck = 0
                    for (var j = 0; j < idtheloai.length; j++) {
                        if ($("#genre").children("option")[i].value == idtheloai[j]) {
                            ck = 1;
                        }
                    }
                    if (ck == 0) {
                        $.ajax({
                            url: 'https://localhost:7053/api/PhimLoaiPhim?Maphim=' + id + '&Maloaiphim=' + $("#genre").children("option")[i].value,
                            method: 'POST',
                            Header: Header,
                            contentType: 'application/json',

                            dataType: 'json',
                            error: function (response) {
                                alert("Thêm mới không thành công");
                            },
                            success: function (reponse) {
                                alert("Thêm mới thành công");

                            }
                        });
                    }
                }
                else {
                    var ck2 = 0
                    for (var j = 0; j < idtheloai.length; j++) {
                        if ($("#genre").children("option")[i].value == idtheloai[j]) {
                            ck2 = 1;
                        }
                    }
                    if (ck2 == 1) {
                        $.ajax({
                            url: 'https://localhost:7053/api/PhimLoaiPhim/' + id + '/' + $("#genre").children("option")[i].value,
                            method: 'DELETE',
                            Header: Header,
                            contentType: 'application/json',

                            dataType: 'json',
                            error: function (response) {
                                alert("Xóa không thành công");
                            },
                            success: function (reponse) {
                                alert("Xóa thành công");

                            }
                        });
                    }
                }
               
               
            }
            var m = $("#country").children("option").length;
            for (var i = 0; i < m; i++) {

                if($("#country").children("option")[i].selected) {
                    var ck = 0
                    for (var j = 0; j < idquocgia.length; j++) {
                        if ($("#country").children("option")[i].value == idquocgia[j]) {
                            ck = 1;
                        }
                    }
                    if (ck == 0) {
                        $.ajax({
                            url: 'https://localhost:7053/api/PhimQuocGia?Maphim=' + id + '&Maquocgia=' + $("#country").children("option")[i].value,
                            method: 'POST',
                            Header: Header,
                            contentType: 'application/json',

                            dataType: 'json',
                            error: function (response) {
                                alert("Thêm mới không thành công");
                            },
                            success: function (reponse) {
                                alert("Thêm mới thành công");

                            }
                        });
                    }
                }
                else {
                    var ck2 = 0
                    for (var j = 0; j < idquocgia.length; j++) {
                        if ($("#country").children("option")[i].value == idquocgia[j]) {
                            ck2 = 1;
                        }
                    }
                    if (ck2 == 1) {
                        $.ajax({
                            url: 'https://localhost:7053/api/PhimQuocGia/' + id + '/' + $("#country").children("option")[i].value,
                            method: 'DELETE',
                            Header: Header,
                            contentType: 'application/json',

                            dataType: 'json',
                            error: function (response) {
                                alert("Xóa không thành công");
                            },
                            success: function (reponse) {
                                alert("Xóa thành công");

                            }
                        });
                    }
                }
            }
        }
    </script>


}

