
@{
    ViewBag.Title = "DetailMovie";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <!-- main title -->
        <div class="col-12">
            <div class="main__title">
                <h2>Thông Tin Phim</h2>
            </div>
        </div>
        <!-- end main title -->
        <!-- form -->
        <div class="col-12">
            <form action="#" class="form">
                <div class="row">
                    <div class="col-12 col-md-5 form__cover">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-12">
                                <div class="form__img" >
                                    <label for="form__img-upload">Upload cover (190 x 270)</label>
                                    <input id="form__img-upload" name="form__img-upload" type="file" accept=".png, .jpg, .jpeg">
                                    <img id="form__img" src="#" alt=" ">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-7 form__content">
                        <div class="row">
                            <div class="col-12">
                                <div class="form__group">
                                    <input id="NameMovie" type="text" class="form__input" placeholder="Title">
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form__group">
                                    <textarea id="Mota" name="text" class="form__textarea" placeholder="Description"></textarea>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-lg-3">
                                <div class="form__group">
                                    <input id="Nam" type="text" class="form__input" placeholder="Release year">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-6">
                                <div class="form__group">
                                    <input id="NgonNgu" type="text" class="form__input" placeholder="language">
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-lg-3">
                                <div class="form__group">
                                    <input id="Time" type="text" class="form__input" placeholder="Running timed in minutes">
                                </div>
                            </div>



                            <div class="col-12 col-lg-6">
                                <div class="form__group">
                                    <select class="js-example-basic-multiple" id="country" multiple="multiple">
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-lg-6">
                                <div class="form__group">
                                    <select class="js-example-basic-multiple" id="genre" multiple="multiple">
                                    </select>
                                </div>
                            </div>

                           
                        </div>
                    </div>



                    <div class="col-12">
                        <div class="row">
                            

                            <div class="col-12 col-lg-12">
                                <div class="form__group form__group--link">
                                    <input id="Link" type="text" class="form__input" placeholder=" add a link">
                                </div>
                            </div>

                            <div class="col-12">
                                <button type="button" class="form__btn">publish</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- end form -->
    </div>
</div>
@section scripts{
    <script>
        const url = "https://localhost:7053/api";
        let id = location.href.split("/");
        id = id[id.length - 1];
        var strCategory = "";
        var strCountry = "";
        var quocgia = [];
        var theloai = [];

        $.ajax({
            url: 'https://localhost:7053/api/Category/GetTbLoaiphimByMovie/'+id,
            method: "GET",
            contentType: "json",
            dataType: "json",
            success: function (data) {
                console.log("Success");

                $.each(data, function (key, value) {
                    theloai.push(value.tenloaiphim);
                })

                
            },
            error: function (err) {
                console.log(err);
            }
        })
        $.ajax({
            url: 'https://localhost:7053/api/Countrys/GetTbquocgiaByMovie/' + id,
            method: "GET",
            contentType: "json",
            dataType: "json",
            success: function (data) {
                console.log("Success");

                $.each(data, function (key, value) {
                    quocgia.push(value.tenquocgia);
                })
            },
            error: function (err) {
                console.log(err);
            }
        })
        
        $.ajax({
            url: 'https://localhost:7053/api/Category/All',
            method: "GET",
            contentType: "json",
            dataType: "json",
            success: function (data) {
                console.log("Success");

                $.each(data, function (key, value) {
                    var d = 0;
                    for (var i = 0; i < theloai.length; i++){
                    if (theloai[i] == value.tenloaiphim) {
                        strCategory += `<option value="${value.tenloaiphim}" selected>${value.tenloaiphim}</option>`;
                        d = 1;
                    }
                    
                    }
                    if (d == 0) {
                        strCategory += `<option value="${value.tenloaiphim}">${value.tenloaiphim}</option>`;
                    }
                   
                })

                $("#genre").html(strCategory);


            },
            error: function (err) {
                console.log(err);
            }
        })
        $.ajax({
            url: 'https://localhost:7053/api/Countrys/All',
            method: "GET",
            contentType: "json",
            dataType: "json",
            success: function (data) {
                console.log("Success");

                $.each(data, function (key, value) {
                    var d = 0;
                    for (var i = 0; i < quocgia.length; i++) {
                        if (quocgia[i] == value.tenquocgia) {
                            strCountry += `<option value="${value.tenquocgia}" selected>${value.tenquocgia}</option>`;
                            d = 1;
                        }

                    }
                    if (d == 0) {
                        strCountry += `<option value="${value.tenquocgia}" >${value.tenquocgia}</option>`;
                    }
                    
                })

                $("#country").html(strCountry);


            },
            error: function (err) {
                console.log(err);
            }
        })
        if (/\d/.test(id)) {
            $.ajax({
                url: 'https://localhost:7053/api/Movies/' + id,
                method: "GET",
                contentType: "json",
                dataType: "json",
                success: function (data) {
                    console.log("Success");

                    $("#NameMovie").val(data.tenphim);
                    $("#Mota").val(data.motaphim);
                    $("#Nam").val(data.nam);
                    $("#Time").val(data.thoiluong);
                    $("#NgonNgu").val(data.ngonngu);
                    $("#Link").val(data.duongdan);
                    $("#form__img").attr('src', data.anh);
                    
                   
                },
                error: function (err) {
                    console.log(err);
                }
            })
        }

    </script>


}

